{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "flowtype"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/ignore": "*.scss$"
  },
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", 4],
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "max-len": [2, 120, 2],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-rest-params": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-indent": [2, 4],
    "space-before-function-paren": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "no-unused-vars": ["error", { "varsIgnorePattern": "style" }]
  }
}
